@import url('../fonts/ProximaNova/stylesheet.css');

/*HEADER*/
.header_m{
    
    float: left;
    width: 100%;
    height: 106px;
} 
/* authorization  */

#authorization-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
    rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    display: flex;
}
.authorization{
    width: 560px;
    height: 470px;
    background:#fff;
    border-radius: 6px;
}
.flex-container{
    display: flex; 
    align-items: flex-start;
    flex-direction: column;
}

#authorization-container:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
}

#authorization-container :target {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s, visibility 1s;
}
.authorization__content{
    display: flex;

    flex-direction: column;
    width: 100%;
}

.authorization__auth{
    margin: 0;
    padding-left: 70px;
    padding-top: 18px;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;


    display: flex;
    align-items: center;
    width: 430px;
    height: 46px;
}
.authorization__text{
    padding-left: 70px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.authorization__input{
    padding-left: 70px;
    display: flex;
    flex-direction: column;
}
.authorization__button-block{
    padding-top: 50px;
    align-self: center;
}
.authorization__button{
    justify-content: center;
    display: flex;
    width: 430px;
    height: 52px;
    
    background: #E5E31F;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    padding-top: 15px;
    color: #2A4F71;
}

.authorization__button:hover{
    background-color: #376A9A;

    color: #E5E31F;
    border: #90bde7;
    transition:0.5s; 
}
.authorization__button-text{
    width: 430px;
    height: 52px;
    margin: 0%;
}
.authorization__email{
    padding-top: 48px;
    width: 430px;
    height: 48px;
    padding-bottom: 22px;

}
.authorization__psw{
    width: 430px;
    height: 48px;

}
.authorization__exit{
    width: 34px ;
    height: 34px;
    padding-right: 26px  ;
    padding-top: 26px;
    align-self: flex-end;
}
.authorization__input-text{
    border: 1px solid #23415E;
    width: 430px;
    height: 48px;
    padding-left: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    border-radius: 6px; 
}

.exit-img{
    width: 34px;
    height: 34px;
}
.exit-img:hover {
    width: 38px;
    height: 38px;
}

/* ------------------------------ */



/* Upper */

.upper{
    padding-top: 27px;
    font-family: 'Proxima Nova Rg';
    padding-left: 135px;
    padding-right: 135px;
    display: flex;
    justify-content: space-between;
}
.upper__container{
    padding-top: 13px;
    display: flex;
}

/* block1 */
.block1{
    display: inline-block;
    /* margin-left: 135px; */
    height: 100%;
    padding-top: 4px;
}
.rocket{
    float: left;
    padding-right: 4px;
}

.logo{
    float: left;
}
/* --------- */

/* Block2 */
.block2{
    display: flex;
    padding-left: 50px;
}
.line-in-header{
    display: inline-block;
    padding-top: 4px;
    /* float: left;
    padding-top: 16px;
    margin-bottom: 0%;
    width: 0px;
    height: 14px;
    color:  #A9C5E0; */

}

.express{
    display: inline;
    /* float: left;
    padding-top: 16px; */
    padding-left: 30px;
    width: 300px;
    height: 21px;
    line-height: 21px;
    font-size: 13px;
    color: #A9C5E0;
}

/*  ------ */

/* block3 */
.block3{
    display: flex;
    float: right;
}
.block3__phones{
    padding-top: 3px;
}
.number{
    float: right;
    font-size: 13px;
    line-height: 24px;
    align-items: center;
    padding-top: 13px;
    padding-right: 28px;
    width: 146px;

    color: #A9C5E0;
}

.phone{
    float: right ;
    padding-top: 19px ;
    padding-right: 12px;
}
.form__login{
    width: 170px;
    height: 52px;
    box-sizing: border-box;
    float: right;
}
.button__login{

	border: 1px solid;
	border-color: #E5E31F;
	color: #E5E31F;
	border-radius: 10px;
	font-size: 18px;
	width: 170px;
	height: 52px;
	text-decoration: none;
	display: inline-block;
	transition: .3s;
	font-size: 18px;
	text-align: center;
	line-height: 52px;
}

.button__login:hover{
    background-color: #E5E31F;
    color: #376A9A;
    border: #90bde7;
    transition:0.5s; 
}
/* ----------- */

/* footer */

footer{
    display: block;
    background-color:  #23415E;
    padding-top: 89px;
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 87px;
}
.ft_name{
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 121px;
    float: left;
}


.ft_logo{
    padding-left: 4px;
}

.ft_link{
    text-decoration: none;
    font-family: 'Proxima Nova Lt';
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    color: #ffffff;
}
.ft_link:hover{
    color:  #E5E31F;; 
}
.ft_info_1{
    display: inline-block;
    width: 170px;
    height: 144px;
    padding-left: 280px;
}
.ft_info_2{
    vertical-align: top ;
    display: inline-block;
    width: 170px;
    height: 108px;
    padding-left: 30px;
}
.ft_contactinfo{
    display: inline-block;
    float: right;
    width: 170px;
    height: 133px;  
    font-size: 15px;
    line-height: 19px;

    color: #A9C5E0;
}
footer p{
    margin: 0%;
}