@import url('../fonts/ProximaNova/stylesheet.css');

body{
    font-family: 'Proxima Nova Rg';
    max-width: 1600px;
    margin: 0%;
    padding: 0%;  
    /* min-width: 1170px;   */
    margin-left: auto;
    margin-right: auto;

}
button{
    border-color: rgba(0,0,0,0);
}


.upp-container{
    height: 730px;
    background: radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%);
}


/* SLIDER */
#block-for-slider{
    font-family: 'Proxima Nova Rg';

}
#viewport {
    width: 100%;
    height: 600px;
    display: table;
    position: relative;
    overflow: hidden;
    user-select: none;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 3);
    
    margin: 0%;

}

#slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

#slidewrapper li {
    float: left;
    width: calc(100%/3);
    list-style: none;
    display: inline;
}

.slide {
    width: 100%;
}
/* slide1 */
.img1 {
    float: right;
    display: inline-block;
    height: 602px;
}

p {
    margin: 0%;
}
.slides{
    display: block;
    padding-left: 105px;
    padding-right: 135px;
    padding-top: 12px;
}
.head1{
    margin: 0%;
    font-size: 64px;
    color: #FFFFFF;
    line-height: 64px;
    width: 660px;
    font-weight: 700;
    padding-top: 150px;
}
.text1{
    font-size: 16px;
    width: 660px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 18px;

}
.btn_block{ 
    padding-top: 102px;
}
.button__order{
    font-family: "Proxima Nova Rg";
    width: 240px;
    height: 52px;
    border-color: transparent;
    border-radius: 10px;
    background: #E5E31F;
    color: #2A4F71;
    float: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.button__order:hover{
    background-color: rgba(240, 238, 166,0);
    color: #E5E31F;
    border-color: #E5E31F;
    transition: 0.5s;
}

/* Slide2 */
.slides2{
    display: block;
    padding-left: 135px;
    padding-top: 49px;

} 
.img2{
    float: right;
    display: inline-block;
    padding-right: 50px;
}
.head2{
    font-size: 64px;
    width: 660px;
    line-height: 64px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 134px;
}
.text2{
    width: 660px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    height: 48px;
    padding-top: 18px;
}
/* slides3  */

/* ------------------ */

/* nav btn  */

#nav-btns {
    position: absolute;
    width: 100%;
    top: 672px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 8px;
    height: 8px;
    background-color: #264160;
    border: 4px solid #264160;
    border-radius: 6px;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
    background-color: #346491;
}
/* ------------ */


/* main( content)*/
.content{ 
    display: inline-block;
    margin: 0%;
    font-family: "Proxima Nova Rg";
    display: flex;
    flex-direction: column;
    
}
.body_title_block{
    align-self: center;
    padding-bottom: 75px;
    padding-top: 96px;
    text-align: center;
}
.body_title{
    display: inline;
    margin: 0%;
    text-align: center;
    color: #2A496B;  
}

/* body_Block1  */
.body_block1{
    flex-flow: wrap;
    align-self: center;
    display: flex;    
    text-align: center;
    justify-content: center;
}
/* body_block_1_1 */
.body_block_1_1{
    display: inline-block;
}
.cost_img{
    position: relative;
    padding: 78px 159px 36px 159px;
}
.content__mini-block{
    width: 370px;
}
/* body_block_1_2 */
.body_block_1_2{
    display: inline-block;
}
.deliv_img{
    position: relative;
    padding: 80px 151px 37px 151px;
}

/* body_block_1_3 */
.body_block_1_3{
    display: inline-block;
}
.pay_img{
    position: relative;
    padding: 75px 153px 32px 153px;
}


/* body_Block2  */
.body_block2{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 111px;
    padding-bottom: 140px;
}
/* body_block_2_1 */
.body_block_2_1{
    display: inline-block;
}
.contract_img{
    position: relative;
    padding: 78px 158px 36px 158px;
}
/* body_block_2_2 */
.body_block_2_2{
    display: inline-block;
}
.data_img{
    position: relative;
    padding: 75px 149px 34px 149px;
}


.h_post {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    line-height: 28px;
    width: 370px;
    margin: 0px;

}
.post{
    font-size: 15px;
    color: #000000;
    text-align: center;
    line-height: 19px;
    width: 370px;
    padding-top: 24px;
}
/* --------------- */







